<ion-content [fullscreen]="true">
  <div style="padding: 0 20px; margin-top: 59px">
    <h1>Reset Password</h1>
    <p>Masukkan email untuk reset password!</p>
  </div>
  <form class="ion-padding">
    <ion-input
      label="Email"
      label-placement="floating"
      fill="outline"
      placeholder="Email"
      style="margin-bottom: 16px"
      [(ngModel)]="email"
      name="email"
    ></ion-input>

    <ion-button
      (click)="resetPassword()"
      expand="block"
      style="margin-bottom: 28px"
      >Reset</ion-button
    >
    <div style="text-align: center">
      <p>Sudah selesai <a [routerLink]="['/signup']">Masuk sini</a></p>
    </div>
  </form>
</ion-content>
