<ion-header>
  <ion-toolbar>
    <ion-button
      style="position: absolute; top: 6px; left: 6px; z-index: 9999"
      routerLink="/list-mahasiswa"
      ><ion-icon name="arrow-back"></ion-icon
    ></ion-button>
    <ion-title style="text-align: center">Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="mahasiswaForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Nim</ion-label>
        <ion-input formControlName="nim"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input formControlName="name" type="text" required> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Jurusan</ion-label>
        <ion-input formControlName="jurusan" type="text" required> </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block"
            >Tambahkan</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
