<ion-header [translucent]="true">
  <ion-toolbar style="position: relative">
    <ion-title>Menu</ion-title>
    <ion-button
      color="danger"
      (click)="signOut()"
      style="position: absolute; right: 10px; top: 6px"
      >Logout</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col
          ><ion-button
            routerLink="/list-mahasiswa"
            style="width: 100%; height: 100px"
            >Mahasiswa</ion-button
          ></ion-col
        >
        <ion-col
          ><ion-button
            routerLink="/list-dosen"
            style="width: 100%; height: 100px"
            >Dosen</ion-button
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col
          ><ion-button
            routerLink="/list-matkul"
            style="width: 100%; height: 100px"
            >Matkul</ion-button
          ></ion-col
        >
        <ion-col
          ><ion-button
            routerLink="/list-krs"
            style="width: 100%; height: 100px; text-align: left !important"
            >KRS</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
